section.hero 
	.hero__bg 
		img(src="images/hero/hero-bg.svg", alt="alt")
	.container 
		.hero__row 
			.hero__body 
				h1(data-aos="fade-right" data-aos-duration="1000" data-aos-delay="0") Welcome<br> Your world
				p(data-aos="fade-right" data-aos-duration="1000" data-aos-delay="200") Lorem ipsum dolor sit amet consectetur. A tellus nulla amet risus donec orci a. Nec porta velit duis consectetur ut posuere elit. Aliquam vitae habitant at malesuada adipiscing pharetra sed ultrices donec. 
				.hero__btn-wrapper(data-aos="fade-right" data-aos-duration="1000" data-aos-delay="400") 
					.hero__btn.general-btn
						span Explore
			.hero__images 
				.hero__image.hero__image1(data-aos="fade-up" data-aos-duration="1000" data-aos-delay="0")
					img(src="images/hero/card1.png", alt="alt")
				.hero__image.hero__image2(data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300")
					img(src="images/hero/card2.png", alt="alt")
				.hero__image.hero__image3(data-aos="fade-up" data-aos-duration="1000" data-aos-delay="600")
					img(src="images/hero/card3.png", alt="alt")