section.map-block 
	.container
		h2(data-aos="fade-in" data-aos-duration="1000" data-aos-delay="0") Explore the world and find your NFTs
		.map-block__map 
			img(src="images/map-block/1.png", alt="alt")