footer.footer
	.footer__bg 
		img(src="images/footer/footer.svg", alt="alt")
	.footer__container 
		form(action="" method="method").footer__subscribe
			.footer__subscribe-title Subscribe for newsletter
			.footer__subscribe-row 
				.footer__subscribe-input 
					input(placeholder="Enter your email")
				button(type='submit').footer__subscribe-btn.general-btn 
					span Subscribe
		.footer__icons 
			a(href="").footer__icon 
				img(src="images/icons/twitter.svg", alt="alt").footer__icon-img
				img(src="images/icons/twitter-hv.svg", alt="alt").footer__icon-img-hv
			a(href="").footer__icon 
				img(src="images/icons/facebook.svg", alt="alt").footer__icon-img
				img(src="images/icons/facebook-hv.svg", alt="alt").footer__icon-img-hv
			a(href="").footer__icon 
				img(src="images/icons/social.svg", alt="alt").footer__icon-img
				img(src="images/icons/social-hv.svg", alt="alt").footer__icon-img-hv
		.footer__bottom 
			.footer__menu 
				a(href="").footer__menu-link Privacy policy
				a(href="").footer__menu-link Licence
				a(href="").footer__menu-link NFT purchase agreement
				a(href="").footer__menu-link FAQ
			.footer__copy © 2023 All Rights Reserved by Xsolla, Inc.