header.header(data-aos="fade-in" data-aos-duration="1000")
	.container
		.header__row
			.header__logo 
				span logo
			.header__menu.menu
				ul.menu__list
					li.menu__item 
						a.menu__link(href="") World
					li.menu__item 
						a.menu__link(href="") About
					li.menu__item 
						a.menu__link(href="") News
					li.menu__item 
						a.menu__link(href="") FAQ
			.header__btn.general-btn 
				span Login
