.news-page {
	@media (max-width: 768px){
		margin-bottom: 6vw;
	}
	&__bg {
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		right: 0;
		height: auto;
		img {
			width: 100%;
			height: 100%;
		}
	} 
	&__container {
		width: calc((1920px * 1326px) / 1440px);
		max-width: 100%;
		margin: calc((1920px * 80px) / 1440px) auto 0;
		@media (max-width: 1920px){
			width: calc((1920px * 69.06vw) / 1440px);
			margin: calc((1920px * 4.17vw) / 1440px) auto 0;
		}
		h1 {
			text-align: center;
		}
	}

	&__buttons {
		max-width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: calc((1920px * 8px) / 1440px);
		margin: calc((1920px * 40px) / 1440px) calc((1920px * -4px) / 1440px) 0;
		@media (max-width: 1920px){
			padding: calc((1920px * 0.42vw) / 1440px);
			margin: calc((1920px * 2.08vw) / 1440px) calc((1920px * -4px) / 1440px) 0;
		}
	}
	&__button {
		padding: 0 calc((1920px * 4px) / 1440px);
		@media (max-width: 1920px){
			padding: 0 calc((1920px * 0.21vw) / 1440px);
		}
		h4 {
			display: block;
			padding: calc((1920px * 8px) / 1440px) calc((1920px * 16px) / 1440px);
			border-radius: calc((1920px * 8px) / 1440px);
			transition: all 0.3s ease 0s;
			@media (max-width: 1920px){
				padding: calc((1920px * 0.42vw) / 1440px) calc((1920px * 0.83vw) / 1440px);
				border-radius: calc((1920px * 0.42vw) / 1440px);
			}
		}
		&.is-checked {
			h4 {
				background: rgba(107, 33, 182, 0.2);
			}
		}
	}


	&__items {
		margin-top: calc((1920px * 40px) / 1440px);
		@media (max-width: 1920px){
			margin-top: calc((1920px * 2.08vw) / 1440px);
		}
	}

	&__row {
		margin: calc((1920px * -12px) / 1440px);
		@media (max-width: 1920px){
			margin: calc((1920px * -0.63vw) / 1440px);
		}
	}

	&__item {
		width: 33.333%;
		padding: calc((1920px * 12px) / 1440px);
		@media (max-width: 1920px){
			padding: calc((1920px * 0.63vw) / 1440px);
		}
		@media (max-width: 768px){
			padding: 3vw;
			width: 100%;
		}
	}
}

