.terms {
	&__container {
		width: calc((1920px * 780px) / 1440px);
		max-width: 100%;
		margin: 0 auto;
		margin-top: calc((1920px * 80px) / 1440px);
		@media (max-width: 1920px){
			width: calc((1920px * 40.63vw) / 1440px);
			margin-top: calc((1920px * 4.17vw) / 1440px);
		}
		@media (max-width: 768px){
			width: 90%;
		}
		h1 {
			text-align: center;
		}
	}
	&__content {
		margin-top: calc((1920px * 80px) / 1440px);
		margin-bottom: calc((1920px * 80px) / 1440px);
		@media (max-width: 1920px){
			margin-top: calc((1920px * 4.17vw) / 1440px);
			margin-bottom: calc((1920px * 4.17vw) / 1440px);
		}
		p {

		}
	}
}