extends ../layouts/default

block vars
	-
		const page = {
			title: 'page'
		};

block main
	.faq 
		.faq__container 
			h1 
				|FREQUENTLY 
				br
				|ASKED QUESTIONS
			.faq__content.one 
				.faq__item 
					.faq__item-title 
						h4 Where will secondary sales be for The Project?
					.faq__item-text 
						p You can purchase Otherdeeds on the secondary market on our official Opensea. Please note, if you see NFTs of individual Kodas, resources, or artifacts for sale on Opensea or elsewhere, it’s a scam.
				.faq__item 
					.faq__item-title.active 
						h4 Where will secondary sales be for The Project?
					.faq__item-text.active 
						p You can purchase Otherdeeds on the secondary market on our official Opensea. Please note, if you see NFTs of individual Kodas, resources, or artifacts for sale on Opensea or elsewhere, it’s a scam.
				.faq__item 
					.faq__item-title 
						h4 Where will secondary sales be for The Project?
					.faq__item-text 
						p You can purchase Otherdeeds on the secondary market on our official Opensea. Please note, if you see NFTs of individual Kodas, resources, or artifacts for sale on Opensea or elsewhere, it’s a scam.
				.faq__item 
					.faq__item-title 
						h4 Where will secondary sales be for The Project?
					.faq__item-text 
						p You can purchase Otherdeeds on the secondary market on our official Opensea. Please note, if you see NFTs of individual Kodas, resources, or artifacts for sale on Opensea or elsewhere, it’s a scam.
				.faq__item 
					.faq__item-title 
						h4 Where will secondary sales be for The Project?
					.faq__item-text 
						p You can purchase Otherdeeds on the secondary market on our official Opensea. Please note, if you see NFTs of individual Kodas, resources, or artifacts for sale on Opensea or elsewhere, it’s a scam.

