extends ../layouts/default

block vars
	-
		const page = {
			title: 'page'
		};

block main
	.news-single
		.about__bg 
			img(src="images/pages/news-single/bg.svg", alt="alt")
		.news-single__container 
			.news-single__header 
				a(href="").news-single__header-back 
					img(src="images/icons/arrow.svg", alt="alt")
					span Back to all posts
				h4 Post type
			.news-single__image 
				img(src="images/pages/news-single/banner.jpg", alt="alt")
			h1 Title Title Title Title
			.news-single__content 
				.news-single__content-top 
					.news-single__date March 01, 2023
					.news-single__soc 
						h4 Share this post
						a(href="") 
							img(src="images/icons/twitterl.svg", alt="alt")
						a(href="") 
							img(src="images/icons/facebookl.svg", alt="alt")
						a(href="") 
							img(src="images/icons/sociall.svg", alt="alt")
				p Lorem ipsum dolor sit amet consectetur. A tellus nulla amet risus donec orci a. Nec porta velit duis consectetur ut posuere elit. Aliquam vitae habitant at malesuada adipiscing pharetra sed ultrices donec. 
				br
				p Lorem ipsum dolor sit amet consectetur. A tellus nulla amet risus donec orci a. Nec porta velit duis consectetur ut posuere elit. Aliquam vitae habitant at malesuada adipiscing pharetra sed ultrices donec. Lorem ipsum dolor sit amet consectetur. A tellus nulla amet risus donec orci a. Nec porta velit duis consectetur ut posuere elit. Aliquam vitae habitant at malesuada adipiscing pharetra sed ultrices donec. 
				br
				p Lorem ipsum dolor sit amet consectetur. A tellus nulla amet risus donec orci a. Nec porta velit duis consectetur ut posuere elit. Aliquam vitae habitant at malesuada adipiscing pharetra sed ultrices donec. Lorem ipsum dolor sit amet consectetur. A tellus nulla amet risus donec orci a. Nec porta velit duis consectetur ut posuere elit. Aliquam vitae habitant at malesuada adipiscing pharetra sed ultrices donec. Lorem ipsum dolor sit amet consectetur. A tellus nulla amet risus donec orci a. Nec porta velit duis consectetur ut posuere elit. Aliquam vitae habitant at malesuada adipiscing pharetra sed ultrices donec. Lorem ipsum dolor sit amet consectetur. A tellus nulla amet risus donec orci a. Nec porta velit duis consectetur ut posuere elit. Aliquam vitae habitant at malesuada adipiscing pharetra sed ultrices donec. Lorem ipsum dolor sit amet consectetur. A tellus nulla amet risus donec orci a. Nec porta velit duis consectetur ut posuere elit. Aliquam vitae habitant at malesuada adipiscing pharetra sed ultrices donec. 
